@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oxygen|Rancho');
*{
  box-sizing: border-box;
}
.nav-wrapper{
  font-family: 'Amatic SC', cursive;
}
.brand-logo{
  font-size: 3em !important;
  padding-left: 1em !important;
}
#nav-mobile li a{
  font-size: 1.8em;
}
.top-bar-cont{
  position: relative;
  width: 100%;
  top: 0;
  display: block;
}
nav.top-bar-nav{
  background-color: rgb(70, 60, 128);
}

footer.page-footer p{
  text-align: justify;
}
footer.page-footer li{
  margin-left: 2.5em;
}
footer.page-footer .footer-copyright{
  background-color: rgba(51,51,51,0.3);
}
.footer-cont{
  width: 85%;
  margin: 0 auto;
}
footer.page-footer{
  background-color: rgb(70, 60, 128);
  margin-top: 5em;
}
div.col.l2 ul{
  display: flex;
  justify-content: flex-start;
}
div.col.l2 li{
  margin-left: 1.2em;

}

.side-nav a{
  font-size: 2.6em;
  color: rgb(70, 60, 128);
}
