@import url(main.css);


nav.top-bar-nav{
  background-color: #00D44B;
}
footer.page-footer{
  background-color: #00D44B;
  margin-top: 5em;
}
div h1{
  font-family: 'Amatic SC', cursive;
  color: #00D44B;
  font-size: 7em;
  text-align: center;
}
div h3{
  font-family: 'Rancho', cursive;
  color: rgb(77, 77, 77);
  text-align: center;
}

@media (max-width: 600px){
  div h1{
    font-size: 2.7em;
  }
  div h3{
    font-size: 2em;
  }
}
