@import url(main.css);




.section-header{
  font-family: 'Amatic SC', cursive;
  color: #463C80;
}
.section-text{
  font-family: 'Rancho', cursive;
  color: #81AF72;
  font-size: 1.5em;
  text-align: justify;
}
.logo-img{
  margin-top: 2em;
}
