@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Mountains+of+Christmas|Rancho');


.top-bar-cont{
  position: relative;
  width: 100%;
  top: 0;
  display: block;
}
.nav-wrapper{
  font-family: 'Amatic SC', cursive;
}
nav.top-bar-nav{
  background-color: rgb(0, 175, 238);
}
.brand-logo{
  font-size: 3em !important;
  padding-left: 1em !important;
}
#nav-mobile li a{
  font-size: 1.8em;
}
.descrip-container{
  margin-top: 0;
  margin-bottom: 2em;
}
.photo-gallery{
  display: flex;
  flex-flow: row wrap;
}
.card.photo-gallery-pic{
  margin-bottom: 0;
  margin-top: 0;
  width: 50%;
}
.logo-title{
  width: 200px;
  height: 200px;
  margin-top: 1em;
}
.text-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.text-content h2{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: rgb(0, 175, 238);
}
.text-content p{
  font-family: 'Rancho', cursive;
  text-align: justify;
  font-size: 2em;
  padding: 0.5em;
  color: #82b543;
}
.hovered-img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.card-title{
  font-family: 'Rancho', cursive;
  font-size: 1.9em !important;
  width: 100% !important;
  display: none;
}
.card-title.verde{
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.promo-cont{
  height: 313px;
  background-image: url(../img/ucla-banner.jpg);
  background-size: contain;
}
.promo-cover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 175, 238, 0.7);
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.promo-cover h2{
  width: auto;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  font-size: 9rem;
}
.promo-info-cont{
  margin-top: 3em;
  font-family: 'Rancho', cursive;
  padding-left: 1em;
}
.promo-info-cont h2{
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 175, 238);
}
.text-info{
  font-size: 2em;
  color: #82B543;
}
.text-info span{
  color: rgb(0, 175, 238);
}
.promo-info-cont .iframe-cont{
  border: 2px solid #00AFEE;
}
.title-color{
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 175, 238);
}
#map{
  width: 100%;
  height: 350px;
}
.photos-cont{
  background-color: #A8CF45;
  margin-top: 5em;
  display: flex;
  width: 100%;
  justify-content: center;
}
.carousel-cont{
  width: 100%;
}
.galeria-slider img{
  width: 100%;
}
.test-row{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.test-cont{
  width: 85%;
}
blockquote em{
  text-align: right;
  color: rgb(110, 110, 110);
}
