@import url(main.css);


nav.top-bar-nav{
  background-color: rgb(0, 175, 238);
}
.descrip-container{
  margin-top: 0;
  margin-bottom: 2em;
}
.photo-gallery{
  display: flex;
  flex-flow: row wrap;
}
.card.photo-gallery-pic{
  margin-bottom: 0;
  margin-top: 0;
  width: 50%;
}
.logo-title{
  width: 200px;
  height: 200px;
  margin-top: 1em;
}
.text-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.text-content h2{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: rgb(0, 175, 238);
}
.text-content p{
  font-family: 'Oxygen', sans-serif;
  text-align: justify;
  font-size: 1.5em;
  padding: 0.5em;
  color: #71b51d;
  margin-top: 0em;
  padding-top: 0;
  line-height: 1.2em;
}
.hovered-img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.card-title{
  font-family: 'Rancho', cursive;
  font-size: 1.9em !important;
  width: 100% !important;
  display: none;
}
.card-title.verde{
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0.5);
}
.promo-cont{
  height: 313px;
  background-image: url(../img/ucla-banner.jpg);
  background-size: contain;
}
.promo-cover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 175, 238, 0.7);
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.promo-cover h2{
  width: auto;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  font-size: 9rem;
}
.promo-info-cont{
  margin-top: 3em;
  font-family: 'Rancho', cursive;
  padding-left: 1em;
}
.promo-info-cont h2{
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 175, 238);
}
.text-info{
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5em;
  color: #71b51d;
  text-align: justify;
}
.text-info span{
  color: rgb(0, 175, 238);
}
.promo-info-cont .iframe-cont{
  border: 2px solid #00AFEE;
}
.title-color{
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 175, 238);
}
#map{
  width: 100%;
  height: 350px;
}
.photos-cont{
  background-color: #838383;
  margin-top: 5em;
  display: flex;
  width: 100%;
  justify-content: center;
}
.carousel-cont{
  width: 90%;
}
.galeria-slider img{
  width: 100%;
}
.test-row{
  margin-top: 5em;
  width: 100%;
  height: 540.33px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(181, 233, 255)
}
.test-cont{
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2em;
}

.test-row h2{
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 175, 238);
}
.test-row p{
  font-family: 'Rancho', cursive;
  color: #82B543;
  font-size: 2em;
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
}
.test{
  width: 14.28%;
  display: flex;
  flex-flow: row wrap;
  padding: 0.2em;
  position: relative;
}
.globe, .boy{
  width: 100%;
  display: flex;
}
.globe{
  position: absolute;
  display: none;
  top: -80px;
  width: 130%;
}
#avm{
  width: 200%;
  top: -150px;
}
#pl{
  top: -70px;
}
#fdr{
  left: -30px;
  width: 100%;
}
#fdr .bubble::after{
  left: 57%;
}
#mp{
  top: -60px;
}
#vm{
  width: 150%;
  top: -130px;
}
#sv{
  top: -120px;
}
#cp{
  width: 170%;
  top: -160px;
  left: -20px;
}
#ng{
  top: -120px;
}
#ng .bubble::after{
  left: 37%;
}
#mc{
  top: -120px;
  left: -50px;
}
#mc .bubble::after{
  left: 57%;
}

.boy{
  margin-top: 1.5em;
}
.boy img{
  width: 172.7px;
  height: 144.767px;
}
.bubble
{
position: relative;
height: auto;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align: center;
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
bottom: -20px;
left: 27%;
}

.bubble-content{
  font-family: 'Rancho', cursive;
  font-size: 1.5em;
  color: #00AFEE;
}
.bubble-author{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.5em;
  color: #EC268F;
}

footer.page-footer{
  background-color: rgb(0, 175, 238);
  margin-top: 5em;
}

.mas-ayuda-cont{
  margin-top: 5em;
}
.mas-ayuda-cont img{
  border: 2px solid #00AFEE;
}
.mas-ayuda-cont p.text-info{
  font-family: 'Oxygen', sans-serif;
  margin-top: 5em;
  padding-right: 1em;
}
.mas-ayuda-cont li{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  color: rgb(0, 175, 238);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.mas-ayuda-cont li i{
  font-size: 0.7em;
  border: 2px solid rgb(0, 175, 238);
  border-radius: 50%;
  padding: 0.1em;
  margin-right: 0.4em;
}
.mas-ayuda-cont ul{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.mensaje-cont{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mensaje-cont .first{
  width: 100%;
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: 5em;
  color: rgb(0, 175, 238);
}
.mensaje-cont .second{
  font-family: 'Amatic SC', cursive;
  font-size: 10em;
  color: #EC268F;
}
a.voluntario{
  height: 3em;
  background: rgb(0, 175, 238);
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-family: 'Rancho', cursive;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.voluntario:hover{
  background: rgb(4, 161, 218);
}
a.voluntario i{
  margin-left: 0.5em;
}
.modal{
  height: 40em;
  max-height: 40em;
}
.modal-content{
  height: 100%;
  position: relative;
}
.side-nav a{
  color: rgb(0, 175, 238);
}
.modal-content button{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: transparent;
  border: 0;
  color: rgb(77, 77, 77);
}
.modal-content button:hover{
  color: rgb(0, 175, 238);
}
@media (max-width: 600px) {
  .promo-cover h2{
    font-size: 3.2em;
  }
  .promo-cont{
    height: auto;
    background-size: cover;
  }
  .text-info{
    font-size: 1.2em;
  }
  .mas-ayuda-cont li{
    font-size: 2em;
  }
  .mensaje-cont .first{
    font-size: 2.5em;
  }
  .mensaje-cont .second{
    font-size: 3.5em;
  }
  .mas-ayuda-cont p.text-info{
    margin-top: 0;
  }
  .modal{
    width: 100%;
  }
  .modal .modal-content{
    padding: 0;
  }
}
